<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="es" xml:lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Proyectos</title>
    <link 
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" 
        crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>Proyectos</h1>

<a th:href="@{/proyectos/nuevo}">Nuevo Proyecto</a>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="proy : ${proyectos}">
        <td th:text="${proy.empleadoId}"></td>
        <td th:text="${proy.nombre}"></td>
        <td th:text="${proy.descripcion}"></td>
        
        <td>
            <a th:href="@{/proyectos/editar/{id}(id=${proy.id})}">Editar</a>
            <a th:href="@{/proyectos/eliminar/{id}(id=${proy.id})}">Eliminar</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
